@media screen and (max-width: 960px) {
  .layout-content, aside { float:none; clear:both; width:100% !important; }
}

@media screen and (max-width: 640px) {
  body {font-size: 18px;}

  #main-menu-caption {display: block; background: url("../images/menu-open-button.png") right #3F5765 no-repeat; color: #FFF; margin: 0; padding: 10px 0; text-align: center; text-shadow: none;}

  #main-menu {height: 0px; overflow: hidden; transition-duration: 0.3s;}

  .region-primary-menu {background: transparent;}

  .region-primary-menu ul#main-menu li {display: block; border-top: 1px solid #334952; background: #5F6874;}

  .region-primary-menu ul#main-menu li a {font-size: 17px;}

  main {padding: 16px 10px}

  h1 {font-size: 24px; line-height: 32px; margin: 10px 0px 16px 0px;}

  h2 {margin-bottom: 10px;}

  .site-name {display: flex; height: 120px; align-items: center; justify-content: center;}

  .site-name a {padding: 0; font-size: 42px; text-shadow: 1px 1px #b1a08e;}

  .layout-content ul {line-height: 140%;}

  .region-content {padding-right: 0px;}

  .layout-content ul li p:nth-child(2) {padding-top: 4px;}

  aside .block {padding: 0; margin: 0;}

  table.subj-info {width: 100%; border: 1px solid #d9d6ce;}

  table.subj-info tr th, table.subj-info tr td {display: block; width: 100%; margin: 0 auto; padding: 8px 12px; box-sizing: border-box; border: none;}

  table.subj-info tr th {background: #e8e4de;color: #5e5e5e;}

}

@media screen and (max-width: 480px) {
   .site-name a {font-size: 32px;}
}


@media screen and (max-width: 360px) {
   .site-name a {font-size: 29px;}
}
