@import url('http://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap&subset=cyrillic');
@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 140%;
  color: #444;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  background: #e9e2d3;
}

p {
  margin: 0 0 1.2em;
}

.layout-container {
  margin: 0px auto;
  max-width: 1024px;
  box-shadow: 0 0 25px #383838;
  background: #ede8df;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  padding: 8px 15px;
  color: #FFF;
  font-size: 15px;
  background: #69B9CF;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  line-height: 100%;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #4B9EB4;
  box-shadow: none;
}

.form-search, input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}
 /* --- Header --- */

#block-hramy-theme-yellow-2-powered {
  background-color: #333;
  color: #eee;
}

#block-hramy-theme-yellow-2-powered span {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px 0px;
}

#block-hramy-theme-yellow-2-powered a {
  color: #92c5fc;
}
.site-name {
  height: 160px;
  margin: 0px auto;
  background: url("../images/header.png") no-repeat center;
  background-size: cover;
}

.site-name a {
  display: block;
  color: #3f5765;
  text-decoration: none;
  text-shadow: 3px 2px #b1a08e;
  font-size: 51px;
  padding: 62px 0px 0px 70px;
  font-family:  'Merriweather', serif;
  letter-spacing: 0.5px;
}


/* --- End of header --- */

/* --- Primary menu --- */

.region-primary-menu {
  display: flex;
  justify-content: center;
  background: #5F6874;
}

.region-primary-menu ul#main-menu {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  font-size: 0;
}

.region-primary-menu ul#main-menu li {
  display: inline-block;
  padding: 0;
}

.region-primary-menu ul#main-menu li a {
  display: block;
  margin: 0;
  padding: 12px 24px;
  text-decoration: none;
  color: #FFF;
  font-size: 13px;
  white-space: nowrap;
}

.region-primary-menu ul#main-menu li a.is-active,
.region-primary-menu ul#main-menu li:hover > a {
  background: #3F5765;
}

.region-primary-menu nav {
  width: 100%;
}

#main-menu-caption {
  display: none;
}

/* --- End of primary menu --- */

/* --- Main --- */

main {
  padding: 15px;
  letter-spacing: 0.2px;
  text-align: justify;
  overflow: auto;
}

main a {
  color: #3f5765;
  text-decoration: none;

}

main a:hover {
  color: #69B9CF;
  text-decoration: none;
}

/* --- End of main --- */

/* --- Sidebar --- */

aside {
  float: left;
  width: 25%;
}

aside .block{
  padding: 5px;
  margin: 1%;
}

aside .block h2 {
  padding: 12px 15px;
  margin-bottom: 12px;
  overflow: hidden;
  text-align: left;
  color: #EEF1EA;
  background: #3F5765;
}

aside div.region {
  background: #ede8df;
  padding: 20px 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

aside .block-search{
  padding: 0 5px;
  margin: 0 1%;
}
/* --- End of sidebar --- */

/* --- Content --- */

.layout-content .tabs a {
  display: block;
  border: none;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 13px;
  background: #0000001a;
  line-height: 100%;
  color: #444;
}

.tabs a.is-active {
  background-color: #5f6874;
  color: #fff;
  border: none;
}

.tabs a:focus, .tabs a:hover {
  background-color: #3f5765;
  color: #fff;
}

ul.tabs {
  margin: 20px 0 25px;
  font-family: 'Arimo', sans-serif;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 18px;
  margin-top: 18px;
  color: #3f5765;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 24px;
  margin: 25px 0px;
}

h2 {
font-size: 18px;margin-bottom: 20px;
}

.layout-content {
  float: right;
  width: 73%;
}
.layout-content * {
  box-sizing: border-box;
}

.layout-content a {
  border-bottom: 1px dashed #aaa;
  color: #427694;
}

.layout-content ul li a {
  border-bottom: 1px dashed #aaa;
  color: #3f5765;
}

    /* Gallery */

a.colorbox {
  border: none;
}

a.colorbox img {
  max-width: 100%;
  height: auto;
  border: 1px solid #e0d7c8;
  background-color: #f4f1eb;
  padding: 5px;
  margin: 0 0 10px 0;
}

.field--type-image {
  text-align: center;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
}

.field--type-image .field__item {
  display: inline-block;
}

.field--type-image .field__item {
  max-width: calc(50% - 5px);
  line-height: 0;
}

.field--type-image .field__item:first-child {
  width: 100%;
  max-width: 100%;
}

.field--type-image .field__item:nth-child(2) {
  margin-right: 10px;
}

    /* End of gallery */

.region-content {
  padding-right: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.layout-content ul {
  padding-left: 25px;
  line-height: 160%;
}

.layout-content ul li {
  padding-bottom: 10px;
}

.layout-content ul li p {
  margin: 0;
}

table.subj-info {
  width: 95%;
  margin: 30px auto;
}

table.subj-info tr th {
  width: 150px;
}

td,th {
  padding: 10px 12px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #d9d6ce;
  background: #f3f0ed;
}

th {
  font-weight: bold;
}

.messages--status {
  margin-left: 7px;
}

.district {
  color: #5a3535;
  font-style: italic;
}
/* --- End of content --- */

/* --- Footer --- */

footer {
  background: #34495E;
  padding: 15px;
  color: #A3A5A0;
}

footer a {
  color: #7eb9ae;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.region-footer {
  overflow: hidden;
  padding: 10px 15px;
  border: 1px solid #3F5765;
}

footer ul.menu {
  margin: 0px;
}

/* --- End of footer --- */
